header{
    height: 100vh;
    background-color: rgb(51, 51, 51);
    text-transform: uppercase;
}

.header-ul {
    display: flex;
    justify-content: flex-end;

    padding: 15px;
}

.header-ul > li {
    margin: 0px 10px;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: whitesmoke;

    padding-top: 30vh;
}
 .title {
    font-size: 2.75rem;
 }


 .continue {
    position: absolute;
    bottom: 3%;
    left: 45%;

    animation: bounce 1.5s infinite ease-in-out;
 }

 .continue-btn {
    background-color: transparent;
    border: none;
 }

 .continue-btn:hover {
    cursor: pointer;
 }
 

 @keyframes bounce {
    0%,

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
 }


/* SITE NAV */
.page-ul {
    display: flex;
    justify-content: space-around;

    background-color: #3d3d3d;
}

.page-li {
    padding: 10px;
}
.page-ul-text {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: whitesmoke;
}


.pic-of-me {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.pic {
    display: flex;
    justify-content: center;
}

.section-title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.about-me-text {
    
    margin: 0 25%;
    padding-top: 15px;
    padding-bottom: 50px;
    line-height: 2;
    text-align: center;

    display: flex;
    justify-content: center;
}